/up.conf
/hello-world
/hello-world*.gz
/hello-world*.zip
/hello-world*.1
/hello-world*.deb
/hello-world*.rpm
/hello-world.*.arm
/hello-world.exe
/hello-world.*.macos
/hello-world.*.linux
/hello-world.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/hello-world_manual.html
/homebrew_release_repo
/.metadata.make
