# In case you copy a config in locally.
/hello-world.conf

# These are all built by the Makefile.
# Binaries, Packages, Formula, Manual
/hello-world
/hello-world*.gz
/hello-world*.zip
/hello-world*.1
/hello-world*.deb
/hello-world*.rpm
/hello-world.*.arm
/hello-world.exe
/hello-world.*.macos
/hello-world.*.linux
/hello-world.rb

# Random things the Makefile creates.
*.sha256
/vendor
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/hello-world_manual.html
/homebrew_release_repo
/.metadata.make

# extra junk
.DS_Store
*~
